* {margin: 0; padding: 0;}

h1 {
    font-size: 3em;
    text-align: center;
    padding: 0.5em;
	font-family: monospace;
    font-weight: 100;
}

body {
    background: url('img/bg.png');
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}

.slick-dotted.slick-slider.eee {
    margin-bottom: 80px;
}

.slick-track {
    display: flex;
    align-items: center;
}